<ion-header>
        <ion-toolbar>
            <ion-title>ORDERS</ion-title>
        </ion-toolbar>
</ion-header>  
<ion-content>
    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>PENDING ORDERS</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <table id="customers">
                <tr>
                  <th>Customer</th>
                  <th>Delivery Time</th>
                  <th>Size(kg)</th>
                  <th>Brand</th>
                </tr>
              </table>          
        </ion-card-content>
      </ion-card>   
</ion-content>
